<footer class="position-absolute bottom-0 bg-dark w-100 d-flex align-items-center justify-content-center"
        style="height: 60px">
<a class="mx-2"
   href="https://www.flaticon.com/free-icons/bitcoin"
   target="_blank"
   rel="noopener noreferrer"
   title="bitcoin icons">Bitcoin icons created by Freepik - Flaticon</a
>
<a class="mx-2"
   ref="https://www.flaticon.com/free-icons/user"
   target="_blank"
   rel="noopener noreferrer"
   title="user icons">User icons created by Freepik - Flaticon</a>
</footer>
